.border-custom-dashed {
  background-image: linear-gradient(to left, currentColor 2px, transparent 1px);
  background-position: center top;
  background-size: 6px 1px;
  background-repeat: repeat-x;
}
