.effect-guide {
  & .--text {
    @apply translate-y-[3em] opacity-0;
    transition: transform 500ms theme(transitionTimingFunction.quad-out), opacity 500ms ease-out;
    transition-delay: calc(var(--index) * 100ms);

    .is-reverse & {
      transition: transform 500ms theme(transitionTimingFunction.quad-out), opacity 500ms ease-out;
      transition-delay: calc((var(--total) - var(--index)) * 100ms);
    }
  }

  &.is-current {
    & .--text {
      @apply translate-y-0 opacity-100;
      transition: transform 500ms theme(transitionTimingFunction.quad-out), opacity 500ms ease-out;
      transition-delay: calc(var(--index) * 100ms + 200ms);

      .is-reverse & {
        transition: transform 500ms theme(transitionTimingFunction.quad-out), opacity 500ms ease-out;
        transition-delay: calc((var(--total) - var(--index)) * 100ms + 200ms);
      }
    }
  }

  &.is-prev {
    & .--text {
      @apply translate-y-[-3em] opacity-0;
    }
  }
}
