.link {
  opacity: 1;
  transition: opacity 300ms ease-out;

  @screen lg {
    &:hover {
      opacity: 0.6;
    }
  }
}

.link-cta {
  & .--container {
    transition: width 600ms theme(transitionTimingFunction.expo-out);
    width: 100%;
  }

  & .--bg {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 600ms theme(transitionTimingFunction.expo-out);
  }

  & .--label {
    transition: color 200ms linear;
  }

  @screen lg {
    &.is-hover {
      & .--container {
        transition: width 400ms theme(transitionTimingFunction.expo-out);
        width: 88%;
      }

      & .--bg {
        transform: scaleX(1);
        transition: transform 400ms theme(transitionTimingFunction.expo-out);
      }

      & .--label {
        color: theme(colors.black);
      }
    }
  }
}

.link-drawer {
  & .--container {
    transform: scaleY(1);
    transition: transform 600ms theme(transitionTimingFunction.expo-out);
  }

  & .--bg {
    transform: scale(1);
    transition: transform 600ms theme(transitionTimingFunction.expo-out);
  }

  @screen lg {
    &.is-hover {
      & .--container {
        transform: scaleY(1.3);
        transition: transform 400ms theme(transitionTimingFunction.expo-out);
      }

      & .--bg {
        transform: scale(0.88);
        transition: transform 400ms theme(transitionTimingFunction.expo-out);
      }
    }
  }
}

.link-button-base {
  & .--container {
    transition: width 600ms theme(transitionTimingFunction.expo-out);
    background: linear-gradient(
      98deg,
      #f86818 19.7%,
      #c9ac91 38.7%,
      #9ec8bb 55.69%,
      #6bc5ec 68.15%
    );
    background-position: 0% 0%;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
  }

  & .--bg {
    transform: translateX(-101%);
    transform-origin: left;
    transition: transform 600ms theme(transitionTimingFunction.expo-out);
  }

  & .--label {
    transition: color 200ms linear;
  }

  & .--arrow {
    transform: translateX(-50%);
    transition: transform 600ms theme(transitionTimingFunction.expo-out);
  }

  @screen lg {
    &.is-hover {
      & .--container {
        transition: width 400ms theme(transitionTimingFunction.expo-out);
        width: 90%;
      }

      & .--bg {
        transform: translateX(0);
        transition: transform 400ms theme(transitionTimingFunction.expo-out);
      }

      & .--label {
        color: theme(colors.white);
      }

      & .--arrow {
        transform: translateX(0);
        transition: transform 400ms theme(transitionTimingFunction.expo-out);
      }
    }
  }
}

.link-button-circle {
  & .--circle {
    transition:
      width 600ms theme(transitionTimingFunction.expo-out),
      height 600ms theme(transitionTimingFunction.expo-out);
    background: linear-gradient(
      98deg,
      #f86818 19.7%,
      #c9ac91 38.7%,
      #9ec8bb 55.69%,
      #6bc5ec 68.15%
    );
    background-position: 0% 0%;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }

  & .--label {
    clip-path: inset(1px);
    transition:
      background-position 600ms cubic-bezier(0.49, 0.33, 0.31, 0.88),
      transform 600ms theme(transitionTimingFunction.expo-out);
    background: linear-gradient(
      98deg,
      rgba(248, 104, 24, 1) 9.85%,
      rgba(201, 172, 145, 1) 19.35%,
      rgba(158, 200, 187, 1) 27.85%,
      rgba(107, 197, 236, 1) 34.075%,
      rgba(165, 215, 237, 1) 40%,
      rgba(224, 246, 255, 1) 47%,
      rgba(255, 255, 255, 1) 51%,
      rgba(255, 255, 255, 1) 55%,
      rgba(158, 164, 164, 1) 57%,
      rgba(36, 36, 36, 1) 60%
    );
    background-position: 100% 0%;
    background-size: 250%;
    background-repeat: no-repeat;
    background-clip: text;
    color: transparent;
  }

  & .--bg {
    transform: scale(1);
    transition: transform 600ms theme(transitionTimingFunction.expo-out);
  }

  & .--arrow {
    transition: transform 600ms theme(transitionTimingFunction.expo-out);

    &.-before {
      transform: translateX(0) scale(1);
    }

    &.-after {
      transform: translateX(-300%) scale(3, 0.5);
    }
  }

  @screen lg {
    &.is-hover {
      & .--circle {
        transition:
          width 400ms theme(transitionTimingFunction.expo-out),
          height 400ms theme(transitionTimingFunction.expo-out);
        width: 90%;
        height: 90%;
      }

      & .--label {
        transform: translateX(8%);
        transition:
          background-position 400ms theme(transitionTimingFunction.expo-out),
          transform 400ms theme(transitionTimingFunction.expo-out);
        background-position: 0% 0%;
      }

      & .--bg {
        transform: scale(0);
        transition: transform 400ms theme(transitionTimingFunction.expo-out);
      }

      & .--arrow {
        transition: transform 400ms theme(transitionTimingFunction.expo-out);

        &.-before {
          transform: translateX(300%) scale(3, 0.5);
        }

        &.-after {
          transform: translateX(0) scale(1);
        }
      }
    }
  }
}

.link-footer-cta {
  & .--bg {
    transform: scale(0);
    transition: transform 600ms theme(transitionTimingFunction.expo-out);
  }

  & .--icon {
    & path {
      stroke: theme(colors.white);
      transition: stroke 600ms theme(transitionTimingFunction.expo-out);
    }
  }

  & .--label {
    clip-path: inset(1px);
    transition: background-position 600ms cubic-bezier(0.49, 0.33, 0.31, 0.88);
    background: linear-gradient(
      98deg,
      rgba(248, 104, 24, 1) 9.85%,
      rgba(201, 172, 145, 1) 19.35%,
      rgba(158, 200, 187, 1) 27.85%,
      rgba(107, 197, 236, 1) 34.075%,
      rgba(165, 215, 237, 1) 40%,
      rgba(224, 246, 255, 1) 47%,
      rgba(255, 255, 255, 1) 51%,
      rgba(255, 255, 255, 1) 60%
    );
    background-position: 100% 0%;
    background-size: 250%;
    background-repeat: no-repeat;
    background-clip: text;
    color: transparent;
  }

  & .--line {
    transition: background-color 600ms theme(transitionTimingFunction.heavy-out);
    background-color: theme(colors.white);
  }

  & .--text {
    transition: color 600ms theme(transitionTimingFunction.heavy-out);
    color: theme(colors.white);
  }

  & .--arrow {
    transition: transform 600ms theme(transitionTimingFunction.expo-out);

    &.-before {
      transform: translate(0);
    }

    &.-after {
      transform: translate(-150%, 150%);
    }
  }

  @screen lg {
    &.is-hover {
      & .--bg {
        transform: scale(1);
      }

      & .--icon {
        & path {
          stroke: url(#icon_footer_gradient);
          transition: stroke 600ms theme(transitionTimingFunction.expo-out);
        }
      }

      & .--label {
        transition: background-position 400ms theme(transitionTimingFunction.expo-out);
        background-position: 0% 0%;
      }

      & .--line {
        transition: background-color 400ms theme(transitionTimingFunction.heavy-out);
        background-color: theme(colors.base);
      }

      & .--text {
        transition: color 400ms theme(transitionTimingFunction.heavy-out);
        color: theme(colors.base);
      }

      & .--arrow {
        transition: transform 400ms theme(transitionTimingFunction.expo-out);

        &.-before {
          transform: translate(150%, -150%);
        }

        &.-after {
          transform: translate(0);
        }
      }
    }
  }
}

.link-drawer-nav {
  & .--label {
    clip-path: inset(1px);
    transition:
      background-position 600ms cubic-bezier(0.49, 0.33, 0.31, 0.88) 230ms,
      transform 600ms cubic-bezier(0.49, 0.33, 0.31, 0.88);
    background: linear-gradient(
      98deg,
      rgba(248, 104, 24, 1) 9.85%,
      rgba(201, 172, 145, 1) 19.35%,
      rgba(158, 200, 187, 1) 27.85%,
      rgba(107, 197, 236, 1) 34.075%,
      rgba(165, 215, 237, 1) 40%,
      rgba(224, 246, 255, 1) 47%,
      rgba(255, 255, 255, 1) 51%,
      rgba(255, 255, 255, 1) 55%,
      rgba(158, 164, 164, 1) 57%,
      rgba(36, 36, 36, 1) 60%
    );
    background-position: 100% 0%;
    background-size: 250%;
    background-repeat: no-repeat;
    background-clip: text;
    color: transparent;

    &.-sm {
      transition: background-position 600ms cubic-bezier(0.49, 0.33, 0.31, 0.88);
    }
  }

  @screen lg {
    &.is-hover {
      & .--label {
        transition:
          background-position 400ms theme(transitionTimingFunction.expo-out),
          transform 400ms theme(transitionTimingFunction.expo-out);
        background-position: 0% 0%;

        &.-sm {
          transition: background-position 400ms cubic-bezier(0.49, 0.33, 0.31, 0.88) 30ms;
        }
      }
    }
  }
}

.link-footer-nav {
  & .--label span[data-char] {
    display: inline-block;
    position: relative;
    transform: translateY(100%);
    transition: transform 600ms cubic-bezier(0.55, 0.18, 0.39, 0.85);
    transition-delay: var(--end-delay);

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(-100%);
      content: attr(data-char);
    }
  }

  @screen lg {
    &.is-hover {
      & .--label span[data-char] {
        transform: translateY(0);
        transition: transform 600ms theme(transitionTimingFunction.expo-out);
        transition-delay: var(--start-delay);
      }
    }
  }
}

.link-movie {
  & .--mask {
    opacity: 0.2;
    transition: opacity 200ms linear;
  }

  @screen lg {
    & .--mask {
      opacity: 0;
    }

    &:hover {
      & .--mask {
        opacity: 0.2;
      }
    }
  }
}
