/*
タイトル
*/
.title-5xl {
  font-weight: 500;
  font-size: calc(26 / 16 * 1rem);
  line-height: 1.3;
  letter-spacing: -0.04em;

  @screen md {
    font-size: calc(56 / 1440 * 100vw);
  }
}

.title-4xl {
  font-weight: 500;
  font-size: calc(24 / 16 * 1rem);
  line-height: 1.75;
  letter-spacing: -0.03em;

  @screen md {
    font-size: calc(40 / 16 * 1rem);
  }
}

.title-3xl {
  font-weight: 500;
  font-size: calc(22 / 16 * 1rem);
  line-height: 1.5;
  letter-spacing: 0.02em;

  @screen md {
    font-size: calc(26 / 16 * 1rem);
  }
}

.title-2xl {
  font-weight: 500;
  font-size: calc(16 / 16 * 1rem);
  line-height: 1.5;
  letter-spacing: 0.02em;

  @screen md {
    font-size: calc(26 / 16 * 1rem);
  }
}

.title-xl {
  font-weight: 500;
  font-size: calc(16 / 16 * 1rem);
  line-height: 1.8;
  letter-spacing: 0.02em;

  @screen md {
    font-size: calc(18 / 16 * 1rem);
  }
}

.title-lg {
  font-weight: 500;
  font-size: calc(14 / 16 * 1rem);
  line-height: 1.8;
  letter-spacing: 0.02em;

  @screen md {
    font-size: calc(18 / 16 * 1rem);
  }
}

.title-md {
  font-weight: 300;
  font-size: calc(16 / 16 * 1rem);
  line-height: 1.9;
  letter-spacing: -0.01em;
}

.title-sm {
  font-weight: 700;
  font-size: calc(14 / 16 * 1rem);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.title-xs {
  font-weight: 500;
  font-size: calc(13 / 16 * 1rem);
  line-height: 1.6;
  letter-spacing: 0.02em;

  @screen md {
    font-size: calc(18 / 16 * 1rem);
  }
}

.title-2xs {
  font-weight: 700;
  font-size: calc(12 / 16 * 1rem);
  line-height: 1.8;
  letter-spacing: -0.04em;

  @screen md {
    font-size: calc(13 / 16 * 1rem);
  }
}

.title-en-xl {
  font-family: theme(fontFamily.en);
  font-weight: 700;
  font-size: calc(30 / 16 * 1rem);
  line-height: calc(38 / 30);
}

.title-en-lg {
  font-family: theme(fontFamily.en);
  font-weight: 700;
  font-size: calc(12 / 16 * 1rem);
  line-height: calc(20 / 16);

  @screen md {
    font-size: calc(16 / 16 * 1rem);
  }
}

.title-en-md {
  font-family: theme(fontFamily.en);
  font-weight: 900;
  font-size: calc(13 / 16 * 1rem);
  line-height: calc(18 / 14);
  letter-spacing: 0.02em;

  @screen md {
    font-size: calc(14 / 16 * 1rem);
  }
}

.title-en-sm {
  font-family: theme(fontFamily.en);
  font-weight: 900;
  font-size: calc(12 / 16 * 1rem);
  line-height: calc(18 / 14);
  letter-spacing: 0.02em;

  @screen md {
    font-size: calc(14 / 16 * 1rem);
  }
}

.title-en-xs {
  font-family: theme(fontFamily.en);
  font-weight: 900;
  font-size: calc(12 / 16 * 1rem);
  line-height: calc(15 / 12);
  letter-spacing: 0.3em;
}
