---
import { getCollection } from 'astro:content';
import { getRelativeLocaleUrl } from 'astro:i18n';
import Layout from '@layouts/Layout.astro';
---

<Layout isHome tagline="AstroとWebflow CMS APIを活用した静的サイト開発テンプレート。">
  <main>
    <p class="title-en-xl">title</p>
  </main>
</Layout>
