---
const { label, orenge, ...props } = Astro.props;
---

<div class="size-fit">
  <a
    {...props}
    class="border-gray-dark link block size-auto overflow-hidden rounded-full border border-solid px-5 py-1"
  >
    <p class="title-sm">{label}</p>
  </a>
</div>
