<footer
  class="h-[calc(788/16*1rem)] w-full overflow-hidden px-[calc(18/16*1rem)] pb-[calc(78/16*1rem)] md:h-[calc(780/16*1rem)] md:px-[calc(58/1440*100vw)] md:pb-0"
>
  <div class="relative flex size-full items-center justify-center">
    <p class="title-4xl text-nowrap text-center text-white">
      トロッコ列車の物語は、<br />線路とともに続くよ、<br class="md:hidden" />どこまでも。
    </p>

    <div class="absolute left-0 top-1/2 z-10 size-auto -translate-y-1/2">
      <p class="title-en-xs -scale-100 text-nowrap text-gray-base vertical-rl">199009</p>
    </div>

    <div class="absolute right-0 top-1/2 z-10 size-auto -translate-y-1/2">
      <p class="title-en-xs text-nowrap text-gray-base vertical-rl">199009</p>
    </div>
  </div>
</footer>
