---
const { title } = Astro.props;
---

<div class="c-title__accent">
  <span class="c-title__accent--line --left"></span>
  <h2 class="c-title__accent--title"><slot /></h2>
  <span class="c-title__accent--line --right"></span>
</div>
