---
const { label, title } = Astro.props;
---

<div
  x-data="{ action: false }"
  x-intersect:enter.once="action = true"
  class="effect-title flex flex-col items-start justify-start gap-y-2"
  x-bind:class="{ 'is-active': action }"
>
  <p x-data="splitLabel(10)" class="--label text-orange title-en-sm text-nowrap uppercase">
    ( {label} )
  </p>
  <h2 x-data="splitLabel" class="--title title-3xl" set:html={title} />
</div>
